* {
  font-family: Arial, sans-serif;
}

body {
  background-image: url('./background2.jpg');
  backdrop-filter: blur(10px) brightness(150%);
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  background: radial-gradient(#004f63, #0087a5);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  font-style: italic;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: rgb(133, 0, 0);
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 40px;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  text-justify: inter-word;
}

#text1, #text2, #text3 {
  columns: 2;
  column-gap: 10px;
  column-fill: balance;
}

@media screen and (max-width: 700px) {
  #text1, #text2, #text3 {
    columns: 1;
  }  
}

.text_img {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 20px;
}

@media screen and (max-width: 700px) {
  .text_img {
    flex-direction: column;
  }  

  .image {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

ul {
  list-style-type: disc;
  margin-left: -20px;
  padding-left: 20px;
  text-align: center;
  list-style-position: inside;
}

label{
  display: block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #fff;
  margin: 0 auto;
  width: 10%;
  color: #fff;
  background-color: #000986;
  border-radius: 5px;
  text-align: center;
  transition: background-color .2s ease-out;
}

label:hover {
  background-color: #fff;
  color: #333;
}

input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleX(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: left;
  transition: transform .2s ease-out;
  transform: scaleX(1); 
}

input[type="checkbox"]:checked + label{
  background: #878fff;
  border-bottom: 1px solid #fff;
}

header {
  background-color: #878fff;
  color: #333;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #878fff;
  color: #333;
  padding: 10px;
  text-align: center;
  clear: both;
}

img {
  border: 5px solid #000986;
  border-radius: 10px;
}
